<ion-header *ngIf="pageElementsLoaded">
    <ion-navbar hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
		<ion-title attr.aria-label="{{pageElements.wellnessTrackerTitleText}}" class="titleHeader" *ngIf="pageElementsLoaded" [ngClass]="{smallerFontSize: languageFlag == 'fr'}">{{pageElements.wellnessTrackerTitleText}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="changeLanguage()">
				<ion-icon name="globe" class="languageChangeButton"></ion-icon>
			</button>
		</ion-buttons>
    </ion-navbar>

</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
	<ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded">
    <ion-grid style="height: 100%">       
		<ion-row style="height: 100%" align-items-center>
			<ion-col align-self-center>
				<ion-row align-items-center>	
					<ion-col align-self-center text-center>
						<button ion-button round outline class="circlebtn circle" [navPush]="checkinlog"><img class="picture" src="./assets/Icons/dailyLog.svg" /></button>  
						<ion-label text-center text-wrap>{{pageElements.buttonText1}}</ion-label>    
					</ion-col>
				</ion-row>
					
				<ion-row align-items-center >
					<ion-col align-self-center text-center>
						<button ion-button round outline class="circlebtn circle" [navPush]="dashboard"><img class="picture"  src="./assets/Icons/graph.svg" /></button>
						<ion-label text-center text-wrap>{{pageElements.buttonText2}}</ion-label>    
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>   
	</ion-grid>

</ion-content>

