<ion-header>
    <ion-navbar hideBackButton="true" >
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title attr.aria-label="{{pageElements.checkinLogText}}" class="titleHeader" *ngIf="pageElementsLoaded" [ngClass]="{smallerFontSize: languageFlag == 'fr'}">{{pageElements.checkinLogText}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- Loading Div -->
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content *ngIf="pageElementsLoaded" style="margin-top:56px;" class="noBackground" overflow-scroll="true">
	<ion-grid>
		<ion-row justify-content-between *ngFor="let wellness of userRecords; index as i" [attr.data-index]="i" (click)="showHideElement(i)" [ngClass]="{blueBackground: showHideArray[i], noBackground: !showHideArray[i]}" class="lightBorder">
			
			<!-- Coloured Circle, depending on log score -->
			<ion-col justify-content-center col-2>
				<div *ngIf="totalScore(wellness.moodScore, wellness.sleepScore, wellness.dietScore) >= 23">
					<img height="50px" width="50px" src="./assets/imgs/Badges/green.png">
				</div>
				
				<div *ngIf="totalScore(wellness.moodScore, wellness.sleepScore, wellness.dietScore) >= 16 && totalScore(wellness.moodScore, wellness.sleepScore, wellness.dietScore) <= 22">
					<img height="50px" width="50px" src="./assets/imgs/Badges/orange.png">
				</div>
				
				<div *ngIf="totalScore(wellness.moodScore, wellness.sleepScore, wellness.dietScore) > 8 && totalScore(wellness.moodScore, wellness.sleepScore, wellness.dietScore) <= 15">
					<img height="50px" width="50px" src="./assets/imgs/Badges/yellow.png">
				</div>
				
				<div *ngIf="totalScore(wellness.moodScore, wellness.sleepScore, wellness.dietScore) <= 8">
					<img height="50px" width="50px" src="./assets/imgs/Badges/red.png">
				</div>
			</ion-col>
			
			<ion-col col-6>
			
				<!-- Date header -->
				<ion-row class="fullHeight" justify-content-center [ngClass]="{headerDateTextTrue: showHideArray[i], headerDateTextFalse: !showHideArray[i], alignitemscenter: !showHideArray[i]}">
					<ion-col col-auto>
						{{formatDate(wellness.date)}}
					</ion-col>
				</ion-row>
			</ion-col>
			
			<!-- Side view -->
			<ion-col col-4>
				
				<!-- Time on the right -->
				<ion-row justify-content-end [ngClass]="{alignitemscenter: !showHideArray[i]}">
					<ion-col col-auto>
						{{wellness.date | date: "H:mma"}}
					</ion-col>
					
					<ion-col *ngIf="!showHideArray[i]" col-auto>
						<ion-icon name="arrow-dropdown"></ion-icon>
					</ion-col>
					
					<ion-col *ngIf="showHideArray[i]" col-auto>
						<ion-icon name="arrow-dropup"></ion-icon>
					</ion-col>
				</ion-row>
				
				<!-- Mood header -->
				<ion-row *ngIf="showHideArray[i]" justify-content-end class="scoreHeader">
					<ion-col col-auto>
						{{pageElements.moodText}}
					</ion-col>
				</ion-row>
				
				<!-- Mood Score -->
				<ion-row *ngIf="showHideArray[i]" justify-content-end  class="score">
					<ion-col col-auto class="nopadding">
						{{wellness.moodScore}}
					</ion-col>
				</ion-row>
				
				<!-- Sleep header -->
				<ion-row *ngIf="showHideArray[i]" justify-content-end  class="scoreHeader">
					<ion-col col-auto>
						{{pageElements.sleepText}}
					</ion-col>
				</ion-row>
				
				<!-- Sleep score -->
				<ion-row *ngIf="showHideArray[i]" justify-content-end  class="score">
					<ion-col col-auto class="nopadding">
						{{wellness.sleepScore}}
					</ion-col>
				</ion-row>
				
				<!-- Diet header -->
				<ion-row *ngIf="showHideArray[i]" justify-content-end  class="scoreHeader">
					<ion-col col-auto>
						{{pageElements.dietText}}
					</ion-col>
				</ion-row>
				
				<!-- Diet score -->
				<ion-row *ngIf="showHideArray[i]" justify-content-end  class="score">
					<ion-col col-auto class="nopadding">
						{{wellness.dietScore}}
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>	
	</ion-grid>
</ion-content>
