page-login {
    ion-content{
        background-image: url("./assets/imgs/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto cover;
        vertical-align:text-center;
        
    }
	
	.nopadding {
		width: 100% !important;
		padding: 0 !important;
	}
	
	.scroll-content {
		width: 100% !important;
		padding: 0 !important;
	}
	
	.col[col-3] {
		padding-left: 0;
	}
}
