page-login {
    .background {
        background-repeat: no-repeat;
    }
	
	.nopadding {
		width: 100% !important;
		padding: 0 !important;
	}
	
	.scroll-content {
		width: 100% !important;
		padding: 0 !important;
	}
	
	.col[col-3] {
		padding-left: 0;
	}
	
	.fullHeight {
		height: 100%;
	}
}
